.menu-mobile {
    display: none;
}
@media (max-width: 767px) {
    .menu-mobile:checked ~ .menu-content {
        display: block;
    }
}

.bg-custom-image {
    background-image: url('/img/pokemonBack.png');
    background-size: 105% 105%;
    background-position: center;
}

.bg-logo {
    background-image: url('/img/logo.png');
}

.bg-sidebar { background: rgb(51, 51, 51); }
.nav-item:hover { background: #1947ee; }